[user]
	name = Duc Nguyen
	email = duc.nyzn@gmail.com

[color]
	ui = true

[alias]
  setD = "config --global user.email 'duc.nyzn@gmail.com'"
  p = pull
  fp = fetch pull
  co = checkout
  cot = checkout --track
  cob = checkout -b
  coo = !git fetch -p && git checkout
  br = branch
  st = status
  aa = add -A
  cm = commit -m
  rc = rebase --continue
  cam = commit --amend 
  fush = push -f
  fp = fetch -p
  save = stash push
  pop = stash pop
  cue = config user.email
  cun = config user.name
  who = !git config user.email && git config user.name
  fr = "!f() { git fetch && git rebase origin/"$1"; }; f"
[core]
	editor = nvim
	excludesfile = /Users/U787248/.gitignore_global

[credential]
	helper = store
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/U787248/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/U787248/.stCommitMsg
